<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    
    <title>InSeason</title>
</head>

<body>

    <div id="container">

        <header>
            <h1>InSeason</h1>
            <div id="logo"><img src="logo (2).png" alt="food logo"></div>
            <h2>sustainable shopping made easy</h2>
        </header>

        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>


        <main id="app">

            <h3>Your Produce Grocery List:</h3>

            <div>
                <p>Enter your grocery items individually below.</p>
                <p class="bold">If an item is out of season, it will be displayed in <span id="red">red</span> !</p>
                <p>We recommend buying produce that is in season to minimize your environmental impact while supporting local businesses and getting the best nature has to offer.</p>
            </div>

            <!-- getting input -->
            <input type="text" v-model="inputText" @keyup.enter="addItem(inputText)">
            <button @click="addItem(inputText)">Add</button>
            <button @click="clearLists()">Clear</button>

            <!-- display items -->
            <ul>
                <li v-for="item in groceryList">
                    <span v-bind:id="isOutOfSeason(item)">{{ item.name }}</span>
                    <button @click="deleteItem(item)">remove</button>
                </li>
            </ul>


        </main>

        <footer>
            <p>Information from <a href="https://snaped.fns.usda.gov/seasonal-produce-guide">https://snaped.fns.usda.gov/seasonal-produce-guide</a></p>
            <p>created by: Alana Rufer, Darya Petrov, Sahana Deo, Allie Y</p>
        </footer>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="seasonalList.js"></script>
    <script src="script.js"></script>


    
</body>
</html>