
/* additional normalizing */

* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #2F911E;
    font-family: Arial;
}
#container {
    margin: 25px;
    padding: 40px 25px;
    background-color: white;
}

header {
    display:flex;
    flex-wrap: wrap;
    align-items: baseline;
}
#logo img {
    max-width: 150px;
}
header h2 {
    flex: 100%;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 60px;
    margin: 20px 0px;
}
h2 {
    margin-bottom: 20px;
}

nav {
    background-color: #47C15C; 
    margin-bottom: 20px;
}
nav ul {
    display: flex;
    justify-content: space-between;
}
nav ul li {
    flex: 1;
    border-right: solid white 3px;
}

nav ul li:last-of-type  {
    border-right: none;
}
nav ul li a {
    display: block;
    text-align: center;
    padding: 10px 0px;
    color: white;
}

main h3 {
    margin-top: 0px;
    margin-bottom: 20px;
}
main ul {
    margin-bottom: 20px;
}
main ul li {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}


#red {
    color: red;
}


footer {
    margin-top: 40px;
}


.yes {
    display: initial;
}
.no {
    display: none;
}
